@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.navigation {
  height: auto;
  width: auto;
  gap: 1.5rem;

  @include flex-center(row);

  a {
    text-decoration: none;
    font-size: 1.4rem;

    &:hover {
      text-decoration: underline;
    }
  }

}