@use "@styles/mixins" as *;
@use "@styles/shadows" as *;
@use "@styles/variables" as *;

.tasks__wrapper {
  width: 100%;
  height: 100%;

  @include flex-center(column);

  margin: 0 auto;
}

.tasks__list {
  width: 100%;
  height: auto;
  @include flex-center(column);
  gap: 1rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.tasks__container {
  width: 100%;
  height: auto;
  max-height: 700px;
  overflow-y: auto;

  border-radius: 35px;

  margin: 0 auto;

  padding: 1rem;
}

.tasks__h1-container {
  margin-bottom: 1rem;
  width: 100%;
  @include flex-left-left(row);
}

.tasks__items-wrapper {
  @include flex-between(row);
  width: 100%;
  height: auto;

  border-radius: 15px;

  margin-bottom: 1rem;
  padding: 1rem;
}

.tasks__item {
  position: relative;
  @include flex-left-center(row);
  width: 100%;
  gap: 1rem;

  .tasks__item-container {
    @include flex-left-left(column);
    width: auto;
    text-align: left;

    h3 {
      font-size: 1.4rem;
    }

    .h3__completed {
      text-decoration: line-through;
    }

    .tasks__item-container-article {
      text-align: left;
      @include flex-center(row);

      img {
        margin-right: 0.5rem;
      }
    }
  }

  input[type="checkbox"] {
    @include flex-center(row);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    &:checked::before {
      content: "✓";
      position: absolute;
      left: 10px;
    }
  }
}

.remove__button {
  border-radius: 50%;
  width: 55px;
  height: 50px;
  @include flex-center(row);
  &:hover {
    cursor: pointer;
  }
}

.second__button {
  width: 150px;
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.tasks__line {
  position: absolute;
  height: 5px;
  border-radius: 5px;
  left: 40px;
  width: 96%;

  transition: width 5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

.tasks__form-buttons {
  @include flex-center(row);
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

@keyframes fadeIn {
  from {
    width: 0;
  }

  to {
    width: 96%;
  }
}
