@use './variables' as *;

// Flex

@mixin flex-center($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}


@mixin flex-left-center($dir) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: $dir;
}

@mixin flex-right-center($dir) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: $dir;
}

@mixin flex-between($dir) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $dir;
}

@mixin flex-around($dir) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: $dir;
}

// Shadow

@mixin box-shadow-light() {
  box-shadow:
    inset 3px 3px 4px rgba($white, 0.9),
    inset -3px -3px 4px $shadow;
}

@mixin box-shadow-dark() {
  box-shadow: inset -3px -3px 6px 0 rgba(255, 255, 255, 0.25),
  inset 3px 3px 6px 0 rgba(0, 0, 0, 0.25);
}

@mixin dark-button-over() {
  background: radial-gradient(
      70.09% 70.09% at 33% 32%,
      rgb(74, 79, 87) 15.38%,
      rgb(35, 38, 41) 74.52%
  );
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

@mixin dark-button-bottom() {
  background: radial-gradient(
      70.09% 70.09% at 33% 32%,
      rgb(74, 79, 87) 15.38%,
      rgb(35, 38, 41) 74.52%
  );
}

@mixin light-button-over() {
  background: radial-gradient(
      70.09% 70.09% at 33% 32%,
      lighten($bg-block, 10%) 15.38%,
      $bg-block 74.52%
  );

  box-shadow: 0 0 20px rgba(227, 230, 252, 0.7);
}

@mixin light-button-bottom() {
  background: radial-gradient(
      70.09% 70.09% at 33% 32%,
      darken($bg-block, 5%) 40%,
      $bg-block 74.52%
  );

  box-shadow:
    4px 4px 10px rgba(0, 0, 0, 0.1),
    -2px -2px 6px rgba(255, 255, 255, 0.7);

  &:hover {
    background: lighten($bg-block, 5%);
    box-shadow: 0 0 12px rgba(227, 230, 252, 0.9);
  }
}


@mixin hover-box-shadow($first-col, $second-col) {
  box-shadow:
    inset -10px -10px 10px rgba($second-col, 0.7),
    inset 16px 16px 10px rgba($first-col, 0.2);
}
