@use './variables' as *;

// Flex

@mixin flex-center($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $dir;
}


@mixin flex-left-center($dir) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: $dir;
}

@mixin flex-left-left($dir) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: $dir;
}

@mixin flex-right-center($dir) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: $dir;
}

@mixin flex-between($dir) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $dir;
}

@mixin flex-around($dir) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: $dir;
}