@use './variables' as *;

// Shadow
@mixin box-shadow-light() {
  box-shadow:
     10px 10px 20px rgba($white, 0.9),
     -10px -10px 20px $shadow;
}

@mixin box-shadow-dark() {
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.20),
  10px 10px 20px rgba(0, 0, 0, 0.25);
}

// input

@mixin input-shadow-dark() {
  box-shadow: inset -3px -3px 6px rgba(255, 255, 255, 0.10),
  inset 3px 3px 6px rgba(0, 0, 0, 0.25);
}

@mixin input-shadow-light() {
  box-shadow:
    inset 3px 3px 6px rgba(0, 0, 0, 0.25),
    inset -3px -3px 6px rgba($shadow, 0.10),;
}

// button

@mixin dark-button-over() {
  background: radial-gradient(
      70.09% 70.09% at 33% 32%,
      rgb(74, 79, 87) 15.38%,
      rgb(35, 38, 41) 74.52%
  );
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

@mixin dark-button-bottom() {
  background: radial-gradient(
      70.09% 70.09% at 33% 32%,
      rgb(74, 79, 87) 15.38%,
      rgb(35, 38, 41) 74.52%
  );
}

@mixin light-button-over() {
  background: radial-gradient(
      70.09% 70.09% at 33% 32%,
      lighten($bg-block, 10%) 15.38%,
      $bg-block 74.52%
  );

  box-shadow: 0 0 20px rgba(227, 230, 252, 0.7);
}

@mixin light-button-bottom() {
  background: radial-gradient(
      70.09% 70.09% at 33% 32%,
      darken($bg-block, 5%) 40%,
      $bg-block 74.52%
  );

  box-shadow:
    4px 4px 10px rgba(0, 0, 0, 0.1),
    -2px -2px 6px rgba(255, 255, 255, 0.7);

  &:hover {
    background: lighten($bg-block, 5%);
    box-shadow: 0 0 12px rgba(227, 230, 252, 0.9);
  }
}

@mixin button-dark-shadow() {
  box-shadow:  3px 3px 6px 0 rgba(0, 0, 0, 0.25),
  -3px -3px 6px 0 rgba(255, 255, 255, 0.25);

}

@mixin button-light-shadow() {
  box-shadow:
     2px 2px 4px rgba($white, 0.9),
     -3px -3px 6px $shadow;
}

@mixin second-button-light-shadow() {
  box-shadow:
    3px 3px 6px rgba(0, 0, 0, 0.25),
    -3px -3px 6px rgba($white, 0.9),
}

// checkbox

@mixin checkbox-light-shadow() {
  box-shadow:
    -2px -2px 5px rgba(white, 1),
    2px  2px 5px rgba(black, 0.1);
}

@mixin checkbox-dark-shadow() {
  box-shadow:
    -2px -2px 5px rgba(white, 0.25),
    2px  2px 5px rgba(0, 0, 0, 0.25);
}