// Imp

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('/fonts/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/fonts/Poppins-Regular.ttf');
}

// Colors

$primary: #4f46e5;
$link: #060a35;
$bg-light: #E3E6EC;
$bg-block: #E3E6FC;
$bg-dark: #2A2D32;
$text-light: #1e1e1e;
$text-dark: #f9f9f9;
$shadow: #D1D9E6;
$white: #FFF;


// Fonts
$quicksand: 'Quicksand-Regular', sans-serif;
$poppins: 'Poppins-Regular', sans-serif;