// Imp

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('/fonts/Quicksand-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/fonts/Poppins-Regular.ttf');
}

// Colors

$primary: #4f46e5;
$link: #949494;
$bg-light: #f9f9f9;
$bg-dark: #1e1e1e;
$text-light: #1e1e1e;
$text-dark: #f9f9f9;
$shadow: #D1D9E6;


// Fonts
$logo-fn: 'Quicksand-Regular', sans-serif;
$poppins: 'Poppins-Regular', sans-serif;