@use 'variables' as *;
@use 'mixins' as *;
@use 'shadows' as *;

html.dark {

  html {
    color: $text-dark;
  }

  body {
    background-color: $bg-dark;
    transition: background-color 0.50s;;
  }
}

html.light {

  html {
    color: $text-light;
  }

  body {
    background-color: $bg-light;
    transition: background-color 0.50s;
  }

}