@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.header {
  height: 120px;
  width: 100%;
  @include flex-between(row);
  padding: 1rem 5rem 1rem 5rem;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  transition: background-color 0.50s;
}

.header__logo-container {
  @include flex-center(none);
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background: none;

  cursor: pointer;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

// Circle

.header__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  @include flex-center(row);

  transition:  box-shadow 1s ease-in-out;
}

.header__container-left {
  width: 50%;
  height: 50px;
  @include flex-left-center(row);
}

.header__container-right {
  @extend .header__container-left;
  @include flex-right-center(row);
}