@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.header {
  height: 120px;
  width: 100%;
  @include flex-between(row);
  padding: 1rem;
  background-color: $bg-light;
  box-shadow:
  inset 6px 6px 10px rgba($shadow, 0.7),
  inset -6px -6px 10px rgba($bg-dark, 0.15);

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header__logo-container {
  @include flex-center(none);
  width: 110px;
  height: 110px;
  border-radius: 50%;

  cursor: pointer;



  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.header__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  @include box-shadow($shadow, $bg-dark);
  @include flex-center(row);

  transition:  box-shadow 1s ease-in-out;

  &:hover {
    @include hover-box-shadow($bg-dark, $shadow);
  }
}

.header__container-left {
  width: 50%;
  height: 50px;
  @include flex-left-center(row);
}

.header__container-right {
  @extend .header__container-left;
  @include flex-right-center(row);
}