@use '@styles/shadows' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.sort__wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
  @include flex-left-center(row);
}

.sort__input {
  width: 200px;
  height: 40px;
  text-align: center;

  border-radius: 5px;

  font-size: 1rem;
  font-weight: 400;

  cursor: pointer;
}

html.light {
  .sort__input {
    @include button-light-shadow;
    background: $bg-block;
    color: $text-light;
  }
}

html.dark {
  .sort__input {
    @include button-dark-shadow;
    background: $bg-dark;
    color: $text-dark;

    &:hover {
      @include input-shadow-dark;
    }
  }
}